# Eclipse
.classpath
.project
.settings/
node_modules
package-lock.json
.serverless
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
bin/
/.metadata/
/.recommenders/
*dependency-reduced-pom.xml
template.yml
.serverless
node_modules
package-lock.json

#SAM
.serverless.template

#sonarlint
.sonarlint

# Ignore Terraform state and cache files
.terraform/

# Ignore other common files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.d

# Others
**/.env
.serverless-offline*
.vscode
dev-config.yml
localstack

*-service-deployment.yaml