.jobListSection {
    display: flex;
    margin: 22px 0;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    font: 400 16px DM Sans, sans-serif;
}

.jobListContainer {
    border-radius: 8px;
    background-color: #fff;
    table-layout: fixed;
    min-height: 733px;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #eaeaea;
}

@media (max-width: 991px) {
    .jobListContainer {
        max-width: 100%;
        padding: 0 20px;
    }
}

.jobList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jobListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    flex-wrap: nowrap;
    font: 500 16px DM Sans, sans-serif;
    width: 100%;
}

th {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.checkBox {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid #292D32;
}

.headerText {
    font-family: "DM Sans", sans-serif !important;
}

.actionText {
    font-family: "DM Sans", sans-serif !important;
    white-space: nowrap;
    padding: 0 15px;
}

.jobItem {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    margin-top: 20px;
    font: 400 16px DM Sans, sans-serif;
    width: 100%;

}

.moreOptionsButton {
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #ada7a7;
    font: 400 20px DM Sans, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 13px 36px;
}

.jobInfo {
    display: flex;
    align-items: center;
    width: 18%;
    color: #000;
}

.jobName {
    font-family: "DM Sans", sans-serif !important;
}

.jobStatus {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    width: 15%;
    font-family: "DM Sans", sans-serif !important;
}

.statusIndicator {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.completed {
    color: #0fab60;
}

.completed .statusIndicator {
    background-color: #0fab60;
}

.running {
    color: #f7a81b;
}

.running .statusIndicator {
    background-color: #f7a81b;
}

.failed {
    color: #ab0f22;
}

.failed .statusIndicator {
    background-color: #ab0f22;
}

.timeInfo {
    display: flex;
    flex-direction: column;
}

.time {
    font-family: "DM Sans", sans-serif !important;
    font-size: 16px;
}

.date {
    font-family: "DM Sans", sans-serif !important;
    font-size: 14px;
    margin-top: 4px;
}

.jobActions {
    display: flex;
    align-items: center;
    gap: 40px 46px;
    justify-content: center;
    width: 172px;
}

.actionIcon {
    width: 24px;
    height: 24px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.iconButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}