<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Using PatternLayout with file name and line number -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} (%class{1}:%L) - %msg %throwable%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Exclude debug messages, set the root level to INFO -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>